# LaTeX intermediate and output files
*.aux
*.bbl
*.blg
*.brf
*.log
*.nav
*.out
*.snm
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.xdv

# Editor backup files
*~
*.bak
*.swp
*.swo


# Misc
*.dvi
*.ps
*.eps
*.glg
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg
*.run.xml
*.bcf
*.blx.bib
*.idx
*.ilg
*.ind
*.lof
*.lol
*.lot
*.maf
*.mtc*
*.out
*.ptc
*.slg
*.slo
*.sls
*.soc
*.tdo
*.thm
*.upa
*.upb

# latexmk
latexmkrc

# TeXShop and TeXworks
*.pdfsync
*.synctex.gz
*.synctex.gz(busy)
thesis-blx.bib
